db:
    driver: sqlite
    sqlite:
        storage_file: example_sprout_apps/polytrading/polytrading.db
        updates_file: example_sprout_apps/polytrading/data/updates.yaml

cron:
    schedule: "*/20 * * * * *" # Run every 20 seconds
